In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [28]:
from sqlalchemy import create_engine

"""Connection Details"""

user = "postgres"  # username
password = "tictok#2020"  # password
host = "localhost"  # server IP
port = "5432"  # port no
database = "warehouse_inventory"  # Data-Base name

try:
    engine = create_engine(
        f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}"
    )
    with engine.connect() as connection:
        print("Successfully connected to PostgreSQL Data-Base")

except Exception as exc:
    print("Error while connecting to PostgreSQL", exc)

Successfully connected to PostgreSQL Data-Base

In [31]:
sd = pd.read_sql("select * from inventory", con=engine)
sd

,item_id,item_name,category,warehouse_zone,bin_location,current_stock,reorder_level,unit_cost,batch_number,date_expiry
0,SKU_0001,Product 1,Automotive,B,D-001,758,205,82.97,BATCH00000,2025-01-01
1,SKU_0002,Product 2,Pharma,B,D-044,1732,422,1106.46,BATCH00001,2025-01-02
2,SKU_0003,Product 3,Food,B,C-027,1142,57,1078.16,BATCH00002,2025-01-03
3,SKU_0004,Product 4,Pharma,C,D-005,1591,171,724.86,BATCH00003,2025-01-04
4,SKU_0005,Product 5,Pharma,C,C-030,997,397,1790.55,BATCH00004,2025-01-05
...,...,...,...,...,...,...,...,...,...,...
195,SKU_0196,Product 196,Food,D,D-014,803,326,1839.13,BATCH00195,2025-07-15
196,SKU_0197,Product 197,Food,B,C-038,987,54,1584.37,BATCH00196,2025-07-16
197,SKU_0198,Product 198,Electronics,D,C-001,377,141,65.58,BATCH00197,2025-07-17
198,SKU_0199,Product 199,Pharma,C,D-002,991,219,1309.71,BATCH00198,2025-07-18
199,SKU_0200,Product 200,Automotive,B,D-042,1451,366,1547.07,BATCH00199,2025-07-19